body {
    font-family: 'Jost';
    background-color: #fff;
    color: #000;
}

a {
    box-shadow: inset 0 -4px 0 0 #06fa;
    transition: all 0.1s;
}

a:hover {
    box-shadow: inset 0 -8px 0 0 #06fa;
}

a:after {
    content: "↗";
    font-weight: bold;
}

.section {
    max-width: 560px;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 64px;
}

.section-header {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
}

.hero {
    height: 100vh;
    color: white;
    background-color: #010a18;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero img {
    border-radius: 1000px;
    margin-bottom: 16px;
    height: 96px;
}


.hero-title{
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 16px;
    color: #06f;
    text-align: center;
}

.hero-subtitle{
text-align: center;
}


.hero-links{
    padding-top: 16px;
}

.hero-action{
    margin-top: 32px;
    font-size: larger;
text-align: center;

}

.social-links{
    display: flex;
    justify-content: space-around;
}

.project {
    border-radius: 6px;
    overflow: hidden;
}

.project-image {
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
}

.project-name {
    font-weight: bold;
}

.project-techno {
    font-size: smaller;
}

.project-techno span {
    margin-right: 8px;
    color: #06f;
    background-color:  #06f4;
    padding: 2px 12px;
    border-radius: 100px;
}

#footer{
    text-align: center;
}

.footer-moji{
    font-size: 16px;
}

.spacer{
    margin-bottom: 16px;
}

.big-spacer{
    margin-bottom: 64px;
}